* {
  font-family: 'Segoe UI';
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "title-box title-box"
    "form-box form-box"
    "location-box location-box"
    "data-box data-box"
    "data-box data-box";
  background-color: #333333;
  row-gap: 10px;
}

.title-container {
  grid-area: title-box;
  background-color: #444444;
  margin: 0% 20%;
  margin-top: 2%;
  text-align: center;
  color: white;
}

.form-container {
  grid-area: form-box;
  background-color: #444444;
  margin: 0% 20%;
  text-align: center;
  padding: 10px;
}

.input-container {
  text-align: center;
}

.location-container {
  grid-area: location-box;
  background-color: #444444;
  margin: 0% 20%;
  text-align: center;
  color: white;
}

.data-container {
  grid-area: data-box;
  background-color: #444444;
  margin: 0% 20%;
  margin-bottom: 2%;
  text-align: center;
  color: white;
}